* {
    margin: 0;
    padding: 0;
}
    .container {
        display: grid;
        flex-direction: column;
    }

    .header {
        background-color: #51a6f8;
        height: 20px;
        padding:10px;
        color: white;

    }

    .main {
        background-color: #6fbf40;
        height: 300px;
        padding:10px;
        color: white;
    }

    .widget-area{
        background-color: #b269e2;
        height: 200px;
        padding:10px;
        color: white;
    }

    .footer{
        background-color: #0264c0;
        height: 50px;
        padding:10px;
        color: white;
    }

